html { 
    overflow-y: hidden; 
    overflow-x: hidden;
}


.bg{
    position: absolute;
    background-image: url("ref.jpg");
    height: 91.2%;
    width: 111.7%;
    background-size: cover;
    background-position: center;
    opacity: 0%;
    z-index: -1;
}

img {
    z-index: 100;
    opacity: 100%;
    background-color: red;
}
